---
import { SITE_TITLE } from '../config';
import site from "../data/site.json";
const {socials, contacts, skills, resume} = site;
import SkillsItem from '../components/SkillsItem.astro';
---			
    <div class="flex flex-col-reverse lg:flex-row space-x-4 mx-auto lg:py-12 container">
        <div class="font-mono p-3 md:p-24 lg:p-8">
            <!-- <div class="p-8"> -->
                <h2 class="font-extrabold text-teal-400 underline deocoration-indigo-500 text-2xl xl:text-3xl">{SITE_TITLE}</h2>
                <h1 class="text-stone-400">I am a software developer and recent graduate</h1>
                <!-- <br /> -->
                <!-- <div class="p-8 w-full text-stone-400"> -->
                    <p class="pt-12 w-full text-stone-400">I'm a Mexican citizen 🇲🇽 that used to live in the US 🇺🇸. 
                    Currently back in my home country.
                    I am a novice front-end developer and hope to become a data analyst or data archivist. 
                    I have experience primarily
                    with JS, React, Java, C, and Python. </p>
                <!-- </div> -->
            <!-- </div> -->
        </div>

        <div class="md:pr-2 lg:pr-0 md:pt-18 text-2xl grid md:place-content-center">
            <img class="animate-zoom-in-slow rounded-full border border-dotted md:scale-90 lg:scale-150 lg:mt-12 lg:ml-0 lg:m-12" 
            src='/assets/alfonso3.png'  />
            <div id="socials" class="socials flex justify-center content-center md:pt-8">
                
                <div class="text-stone-400 pt-3">
                    <a href={`mailto:${contacts[1].contact}`} class="" >
                    <span 
                    class="material-icons m-1 p-1 text-teal-400 hover:bg-teal-400 hover:text-white rounded-full transition-colors duration-300">
                        {contacts[1].icon}</span></a>
                </div > 
                {socials.map((social) => (
                    <div class="social-icon lg:text-2xl pt-4">
                        <a href={social.link} class="m-2 p-1 text-teal-400 hover:bg-teal-400 hover:text-white rounded-full transition-colors duration-300" target="_blank">
                            <i class={`devicon-${social.icon}-plain`}></i></a>
                    </div>
                ) ) }
                <!-- Download Resume -->
                <div class="text-stone-400 pt-3">
                    <a href={resume} download class="">
                        <span class="material-icons-round m-1 p-1 text-teal-400 hover:bg-teal-400 hover:text-white rounded-full transition-colors duration-300">download</span>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="grid pl-12">
            {skills.comfortable.map( (i) => (<SkillsItem item={i} />) )}
            {skills.mastering.map( (i) => (<SkillsItem item={i} />) )}
        </div> -->
        
        <!-- <div class="">
            {skills.mastering.map( (i) => (<SkillsItem item={i} />) )}
        </div> -->

    </div>
    <div class="grid grid-cols-3 md:flex md:flex-row lg:max-w-full md:pl-24 lg:pl-0">
        {skills.comfortable.map( (i) => (<SkillsItem item={i} />) )}   
        {skills.mastering.map( (i) => (<SkillsItem item={i} />) )}
    </div>
    <style lang="scss">
        #socials {
            @media (min-width: 700px) {
                    grid-template-columns: repeat(12, 1fr);
            }
            @media (min-width: 600px) {
                grid-template-columns: repeat(8, 1fr);
            }
        }
    </style>